<!--article 화면을 구성-->

{% extends 'layout.html' %}

{% block content %}

<div class="article-container">
    <div class="container">
        <h1 class="article-subject"> {{ article.subject }} </h1>
        <p class="article-writer"> {{ article.username }}</p>
        <p class="article-date"> {{ article.created_at }} </p>
        <img class="article-image" src="{{ article.image_path }}"/>
        <p class="article-description"> {{ article.content }} </p>

<!--        본인이 like를 눌렀는지에 따라 다른 함수와 이모티콘을 사용 -->
        {% if like %}
        <p class="article-like" onclick="unlike()">
            ❤️ {{ likeCount }}
        </p>
        {% else %}
        <p class="article-like" onclick="like()">
            🤍 {{ likeCount }}
        </p>

        {% endif %}

    </div>
</div>
<div class="container">
    <div class="comment-block">
        <form action="/articles/comments/{{ article.id }}" method="POST">
            <label for="content">comment</label>
            <br>
            <textarea id="content" name="content" rows="6" cols="50" placeholder="여기에 댓글를 입력하세요..."></textarea>
            <button type="submit">쓰기</button>
            <br>
        </form>
    </div>
    <div class="comment-container">
        {% for comment in comments %}
        <div class="comment-block">
            <h4 class="comment-writer"> {{ comment.username }}</h4>
            <p class="comment-content"> {{ comment.content }} </p>
<!--             본인의 comment 일 때만 삭제 버튼 활성화-->
            {% if comment.uid == user.id %}
            <button onclick="deleteComment(event)", data-comment-id="{{ comment.id }}"> 삭제 </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    { // message handler (query로 온 message 처리)
        const params = new URLSearchParams(window.location.search);
        const message = params.get('message');
        if (message) {
            alert(decodeURIComponent(message));
        }
    }

    // comment 삭제 함수
    function deleteComment(e){
        const commentId = e.target.dataset.commentId;
        console.log(commentId);
        axios.delete(`/articles/comments/${commentId}`);
    }

    // 좋아요 함수
    function like(){
        const pathname = window.location.pathname;
        const aid = pathname.split('/').pop();
        axios.get(`/articles/like/${aid}`);
    }

    // 좋아요 취소 함수
    function unlike(){
        const pathname = window.location.pathname;
        const aid = pathname.split('/').pop();
        axios.get(`/articles/unlike/${aid}`);
    }
</script>
{% endblock %}