<!-- dashboard 화면을 구성-->

{% extends 'layout.html' %}

{% block content %}

<div class="userinfo-block">
    <h1> Dashboard </h1>
    <p> 이름 : {{ user.username }} </p>
    <p> 이메일 : {{ user.email }} </p>
    <p> 생성일 : {{ user.created_at }} </p>
</div>
<h2> 내 글 </h2>
{% if articles.length <= 0 %}
<P> 없음 </P>
{% endif %}
{% for article in articles %}

    <div class="article-block">
        <a href="/articles/{{ article.id }}">
            <img class="article-image" src="{{ article.image_path }}"/>
            <div class="container">
                <h4 class="article-subject"> {{ article.subject }} </h4>
                <p class="article-description"> {{ article.description }} </p>
                <p class="article-date"> {{ article.created_at }} </p>
            </div>
        </a>
        <button onclick="deleteArticle(event)" data-aid="{{ article.id }}"> 삭제 </button>
    </div>

{% endfor %}

{% endblock %}

{% block script %}
<script>
    function deleteArticle(e) {
        const aid = e.target.dataset.aid;
        axios.delete(`/articles/${aid}`);
    }
</script>
{% endblock %}