<!-- main 화면을 구성-->

{% extends 'layout.html' %}

{% block content %}

    {% for article in articles %}
    <a href="/articles/{{ article.id }}">
        <div class="article-block">
            <img class="article-image" src="{{ article.image_path }}"/>
            <div class="container">
                <h4 class="article-subject"> {{ article.subject }} </h4>
                <p class="article-description"> {{ article.description }} </p>
                <p class="article-date"> {{ article.created_at }} </p>
                <p> ❤️ {{ article.like_count }} </p>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}

{% block script %}
    <script>
        { // message handler (url query로 message가 왔을 때 처리)
            const params = new URLSearchParams(window.location.search);
            const message = params.get('message');
            if (message) {
                alert(decodeURIComponent(message));
            }
        }
    </script>
{% endblock %}