{% extends 'layout.html' %}

{% block content %}



{% for article in articles %}
<div class="article-block">
    <img class="article-image" src="/images/test.png"/>
    <div class="container">
        <h4 class="article-subject"> {{ article.subject }} </h4>
        <p class="article-description"> {{ article.description }} </p>
        <p class="article-date"> {{ article.createdAt }} </p>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}