<!-- layout을 정의, header (navigator 또한) 구성-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{title}} </title>
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="./main.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header class="header">
            <h1>NEWS LOOP</h1>

            <div class="nav-menu">
                <ul>
                    <li> <a href="/">홈</a> </li>
                    <li> <a href="/articles/edit"> 글 쓰러 가기 </a> </li>
                    <li> <a href="/users/dashboard">마이 페이지 </a> </li>

<!--                    로그인 여부에 따라 다른 버튼 표시-->
                    {% if isLoggedIn %}
                    <li> <a href="/users/logout">로그아웃 </a> </li>
                    {% else %}
                    <li> <a href="/users/login">로그인 </a> </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>